* {
	margin: 0;
	padding: 0;
}

body {
	font: 15px "Roboto Medium", Futura, sans-serif;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square:focus {
	outline: none;
}

.main {
	width: 100vw;
	height: 20vh;
	background: linear-gradient(#fa9fa9, #9af9af);
	display: flex;
	justify-content: center;
	padding: 40vh 0vw;
}